.content {
  padding-top: 5rem;
  background: -moz-linear-gradient(
    150deg,
    rgba(241, 241, 233, 1) 0%,
    rgba(174, 255, 18, 1) 100%
  );
  background: -webkit-linear-gradient(
    150deg,
    rgba(241, 241, 233, 1) 0%,
    rgba(174, 255, 18, 1) 100%
  );
  background: linear-gradient(
    150deg,
    rgba(241, 241, 233, 1) 0%,
    rgba(174, 255, 18, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f1f1e9",endColorstr="#aeff12",GradientType=1);
}

.heading {
  margin-bottom: 1rem;
  width: 50vw;
}

.topCopy {
  margin-bottom: 3rem;
  color: var(--text2)
}

.contentBox {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}


.bottomMap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  border: 1px solid var(--text3);
  border-radius: 8px;
  padding: 2rem;
  height: 100%;
}

.h3 {
  font-size: 2rem;
  color: var(--black);
  font-family: var(--acidGroteskBold);
  font-weight: 700;
}

.copy {
  color: var(--text2);
  font-size: 1.4rem;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.img {
  position: absolute;
  object-fit: cover;
  border-radius: 8px;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 3rem;
}

@media screen and (max-width: 1100px) {
  .contentBox {
    flex-direction: column;
  }

  .bottomMap {
    grid-template-columns: repeat(2, 1fr);
  }

  .heading {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .btnContainer {
    justify-content: center;
  }
}

@media screen and (max-width: 1068px) {
  .heading {
    width: 80%;
  }
}

@media screen and (max-width: 668px) {
  .heading {
    width: 100%;
  }

  .copy {
    text-align: center;
  }

  .bottomMap {
    grid-template-columns: repeat(1, 1fr);
  }

  .imgContainer {
    height: 300px;
  }
}

@media screen and (max-width: 568px) {
  .box {
    align-items: center;
    justify-content: center;
  }

  .h3 {
    text-align: center;
    width: 100%;
  }

  .copy {
    text-align: left;
  }

  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
