.content {
  padding-top: 5rem;
  background-color: var(--white);
}

.top {
  display: flex;
  flex-direction: column;
}

.heading {
  margin-bottom: 3rem;
  width: 60%;
  font-family: var(--chakraPetch);
  letter-spacing: -2px;

}

.heading {
  font-size: 7rem;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--black2);
}

.h2Container {
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 2rem;
  background-color: var(--black);
}

.heading2 {
  font-size: 3rem;
  color: var(--tan);
  font-family: var(--chakraPetch);
  text-transform: uppercase;
}

.topCopy {
  margin-bottom: 3rem;
  color: var(--text2);
  font-weight: 500;
  font-size: 1.6rem;
}

.contentBox {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.bottomMap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  /* border: 1px solid var(--border); */
  border-radius: 8px;
  padding: 2rem;
  height: 100%;
  background-color: var(--tan);
}

.h3 {
  font-size: 2rem;
  color: var(--black);
  font-family: var(--inter);
  font-weight: 700;
}

.copy {
  color: var(--text2);
  font-weight: 500;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.img {
  position: absolute;
  object-fit: cover;
  border-radius: 8px;
}

.btnContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 32.5%;
  margin-top: 3rem;
  margin-left: auto;
}

@media screen and (max-width: 1100px) {
  .top {
    align-items: center;
    justify-content: center;
  }

  .topCopy {
    text-align: center;
    width: 50%;
  }

  .contentBox {
    flex-direction: column;
  }

  .bottomMap {
    grid-template-columns: repeat(2, 1fr);
  }

  .heading {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .btnContainer {
    width: 49.5%;
  }
}

@media screen and (max-width: 1068px) {
  .heading {
    width: 80%;
  }
}

@media screen and (max-width: 968px) {
  .topCopy {
    width: 80%;
  }
}

@media screen and (max-width: 668px) {
  .heading {
    width: 100%;
  }

  .bottomMap {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }

  .h2Container {
    height: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 568px) {
  .box {
    align-items: center;
    justify-content: center;
  }

  .h3 {
    text-align: center;
    width: 100%;
  }

  .copy {
    text-align: left;
  }

  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .h3 {
    font-size: 113.7%;
  }
}

@media screen and (max-width: 568px) {
  .h3 {
    font-size: 125%;
  }
}
