.top {
  margin-bottom: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.heading {
  text-align: center;
}

.headingCopy {
  font-size: 1.8rem;
  text-align: center;
  width: 80%;
  color: var(--text);
}

.bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.b1,
.b2,
.b3 {
  flex: 1;
}

.benefitContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--border);
  border-radius: 30px;
  padding: 3rem;
}

.benefitContainer:nth-child(2) {
  margin-bottom: 0.5rem;
}

.span {
  display: flex;
  gap: 0.7rem;
}

.icon {
  position: relative;
  top: 2px;
  color: var(--black);
}

.benefitHeading {
  font-size: 2rem;
  font-weight: 700;
}

.benefitDesc {
  color: var(--text);
}

.b2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.b22 {
  display: none;
}

.imgContainer {
  position: relative;
  width: 200px;
  height: 200px;
  z-index: 1;
}

.imgContainer::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 275px;
  height: 275px;
  border-radius: 50%;
  opacity: 0.5;
  border: 1px solid var(--black);
  z-index: -1;
}

.imgContainer::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 1px solid var(--black);
  opacity: 0.3;
  z-index: -1;
}

.img {
  border-radius: 50%;
  border: 3px solid var(--green);
}

@media screen and (max-width: 968px) {
  .bottom {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
  }

  .benefitContainer {
    margin-bottom: 5rem;
  }

  .b2 {
    /* order: 3; */
    display: none;
  }

  .b22 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5rem;
  }
}

@media screen and (max-width: 568px) {
  .headingCopy {
    font-weight: 600;
    width: 100%;
  }

  .bottom {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0rem;
  }

  .benefitContainer {
    margin-bottom: 5rem;
  }
  .span {
    align-items: center;
    justify-content: center;
  }

  .b22 {
    margin-top: 10rem;
  }
}
