.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.left,
.right {
  flex: 1;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.heading {
  font-size: 7rem;
  line-height: 100%;
  letter-spacing: -4px;
  text-transform: uppercase;
  color: var(--black2);
}

.copy {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--text2);
  font-weight: 500;
  font-size: 1.6rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

.benefitContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background-color: var(--black2);
  border-radius: 10px;
  padding: 3rem 2rem;
  padding-bottom: 2rem;
  width: 100%;
  cursor: pointer;
}

.benefitContainer:hover,
.show {
  transition: 0.2s all ease-in;
}

.showBorder {
  border-radius: 10px;
  box-shadow: var(--shadow);
  background-color: var(--white);
  border: 1px solid var(--border);
  color: red;
}

.icon {
  cursor: pointer;
}

.benefitHeading {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--tan);
  user-select: none;
}

.benefitContainer.selected .benefitHeading {
  color: var(--black);
}

.selected {
  border-radius: 10px;
  box-shadow: var(--shadow);
  background-color: var(--white);
  border: 1px solid var(--border);
}

.index {
  color: var(--tan);
  opacity: 0.7;
  margin-right: 1rem;
  font-family: var(--acidGroteskBold);
}

.benefitContainer.selected .index {
  color: var(--black);
  opacity: 1;
}

.answerContainer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out; /* Use a different easing function for open */
}

.answerContainer.show {
  max-height: 350px;
  transition: max-height 0.3s ease-in; /* Use a different easing function for close */
}

.benefitDesc {
  color: var(--black2);
  margin-top: 2rem;
}

.icon {
  color: var(--tan);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.iconFlip {
  transform: rotate(180deg);
  color: var(--black);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1068px) {
  .content {
    flex-direction: column-reverse;
    gap: 10rem;
  }

  .heading {
    text-align: center;
  }

  .copy {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .copy {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .heading {
    font-size: 20rem;
  }

  .copy {
    width: 100%;
  }
}
