.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.left,
.right {
  flex: 1;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.copy {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.benefitContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  border: 1px solid var(--border);
  border-radius: 10px;
  background-color: var(--white);
  padding: 3rem 2rem;
  padding-bottom: 2rem;
  width: 100%;
  cursor: pointer;
}
.benefitContainer:hover,
.show {
  background-color: var(--green);
  border-radius: 10px;
  color: var(--black);
  transition: 0.3s all ease-in;
}

.showBorder {
  border-radius: 10px;
  background-color: var(--green);
}

.icon {
  cursor: pointer;
}

.benefitHeading {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--black);
}

.index {
  color: var(--tan2);
  margin-right: 1rem;
}

.answerContainer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.answerContainer.show {
  max-height: 350px;
  transition: max-height 0.3s ease-in-out;
}

.benefitDesc {
  color: var(--text2);
  margin-top: 2rem;
}

.icon {
  color: var(--black);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.iconFlip {
  transform: rotate(180deg);
  color: var(--black);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}
