.container {
  background-color: var(--white);
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.layoutWrapper {
  z-index: 1000;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding: 3rem;
  padding-bottom: 0rem;
}

.contentPadding {
  padding: 5rem;
}

.content {
  border-radius: 10px;
  padding: 5rem;
  padding-bottom: 3rem;
  margin-left: 5rem;
  margin-right: 5rem;
  background: rgb(241, 241, 233);
  background: -moz-linear-gradient(
    150deg,
    rgba(241, 241, 233, 1) 0%,
    rgba(174, 255, 18, 1) 100%
  );
  background: -webkit-linear-gradient(
    150deg,
    rgba(241, 241, 233, 1) 0%,
    rgba(174, 255, 18, 1) 100%
  );
  background: linear-gradient(
    150deg,
    rgba(241, 241, 233, 1) 0%,
    rgba(174, 255, 18, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f1f1e9",endColorstr="#aeff12",GradientType=1);
}

.bottom {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5rem;
}

.left,
.right {
  flex: 1;
  width: 100%;
}

.heading {
  font-size: 3rem;
  width: 70%;
  font-family: var(--acidGroteskBold);
  hyphens: none;
}

.topText {
  color: var(--text2);
  margin-top: 3rem;
  font-size: 1.6rem;
  font-weight: 500;
  width: 80%;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}

@media screen and (max-width: 1200px) {
  .heading,
  .topText {
    width: 100%;
  }
}

@media screen and (max-width: 968px) {
  .content {
    padding: 3rem;
    padding-top: 4rem;
  }

  .bottom {
    flex-direction: column;
  }

  .heading,
  .topText {
    text-align: center;
  }
}

@media screen and (max-width: 568px) {
  .content {
    padding: 2rem;
    padding-top: 3rem;
  }

  .content {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .btnContainer {
    flex-direction: column;
  }
}
