.progressWrapper {
  background-color: transparent;
  height: 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  transition: none;
}

.progressMainStyle {
  height: 4px;
  background-color: var(--green);
  transition: none;
}

@media screen and (max-width: 623px) {
  .progressWrapper {
    height: 4px;
  }

  .progressMainStyle {
    height: 4px;
  }
}
