.container {
  background-color: var(--tan);
}

.contentTop {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 5rem;
  border-bottom: 1px solid var(--border);
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}

.left,
.right {
  flex: 1;
}

.topCopy {
  font-size: 2.6rem;
  font-family: var(--acidGroteskBold);
  line-height: 120%;
  color: var(--text2)
}

.contentBottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.box {
  /* border: 1px solid var(--border); */
  background-color: var(--tan);
  border-radius: 10px;
  padding: 2rem;
}

.icon {
  margin-bottom: 1rem;
}

.value {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.description {
  color: var(--text);
  font-weight: 500;
}

@media screen and (max-width: 1068px) {
  .contentTop {
    flex-direction: column;
    align-items: flex-start;
  }

  .topCopy {
    width: 70%;
  }

  .contentBottom {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .contentTop {
    flex-direction: column;
    align-items: flex-start;
  }

  .topCopy {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .contentTop {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .topCopy {
    width: 100%;
  }

  .contentBottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
