.container {
  position: relative;
  height: 100vh;
}

.imgOverlay {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(10, 7, 27, 0.7), rgba(10, 7, 27, 0.7));
}

.img {
  object-fit: cover;
}

.content {
  display: flex;
}

.left {
  flex: 2;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: -3rem;
}

.right {
  flex: 1;
  z-index: 3;
  margin-top: 10rem;
}

.heading {
  z-index: 3;
  color: var(--tan);
  margin-bottom: 3rem;
}

.heading2 {
  z-index: 3;
  color: var(--tan);
  font-family: var(--staatliches);
  font-size: 10rem;
}

.copy {
  z-index: 3;
  font-size: 2rem;
  font-weight: 500;
  color: var(--tan);
  width: 90%;
  margin-bottom: 3rem;
}

.btnContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 50%;
}

.leftBottom {
  z-index: 3;
  display: flex;
  align-items: center;
  width: fit-content;
}

.lb1 {
  padding: 2rem;
  padding-left: 0rem;
  border-right: 2px solid var(--border2);
  font-size: 1.4rem;
  font-weight: 600;
}

.lb2 {
  padding: 2rem;
  font-size: 0;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.icon {
  color: var(--white);
}

.b2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .container {
    height: 100%;
  }
}

@media screen and (max-width: 968px) {
  .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0rem;
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .heading {
    text-align: center;
  }

  .copy {
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .btnContainer {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .left {
    align-items: flex-start;
  }

  .heading,
  .copy {
    text-align: left;
    width: 100%;
  }

  .btnContainer,
  .leftBottom {
    justify-content: flex-start;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 568px) {
  /* .heading {
    font-size: 10rem;
  } */

  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
