.container {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  padding: 1rem;
}

.svg {
  font-family: var(--inter);
  font-weight: 600;
  text-transform: uppercase;
  fill: var(--text);
  user-select: none;
}

@media screen and (max-width: 568px) {
  .container {
    width: 300px;
    height: 300px;
  }

  .svg {
    fill: var(--white);
  }
}

@media screen and (max-width: 380px) {
  .container {
    width: 230px;
    height: 230px;
  }
}
