.container {
  width: 375px;
  height: 375px;
  border-radius: 50%;
  position: relative;
  display: block;
  user-select: none;
  padding: 1rem;
}

.svg {
  font-family: var(--inter);
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;
  fill: var(--tan2);
  user-select: none;
}

@media screen and (max-width: 568px) {
  .container {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 380px) {
  .container {
    width: 245px;
    height: 245px;
  }
}
