.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  gap: 10rem;
}

.left,
.right {
  flex: 1;
  width: 100%;
}

.left {
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
}

.left::after {
  position: absolute;
  content: "";
  top: 250px;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: var(--green);
  border-radius: 10px;
  border-top-right-radius: 200px;
  z-index: -1;
  filter: blur(10rem);
}

.heading {
  border-bottom: 1px solid var(--border3);
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

.topText {
  color: var(--text2);
  font-weight: 500;
  width: 80%;
  margin-top: 3rem;
  font-size: 1.6rem;
}

.rtContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.right {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border);
  border-radius: 10px;
  background-color: var(--tan);
}

.box {
  padding: 4rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
}

.boxLeft {
  margin-left: -6.5rem;
}

.boxRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.processName {
  color: var(--black);
  font-size: 2.1rem;
  font-family: var(--acidGroteskBold);
}

.processDescription {
  color: var(--text);
  font-size: 1.4rem;
}

@media screen and (max-width: 968px) {
  .content {
    flex-direction: column;
  }

  .topText,
  .heading {
    width: 100%;
    text-align: center;
  }

  .left {
    position: relative;
    align-self: normal;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .left::after {
    top: -250px;
    left: 40%;
    width: 200px;
    height: 200px;
  }

  .rtContainer {
    margin-top: 3rem;
    margin-bottom: -8rem;
  }
}

@media screen and (max-width: 568px) {
  .topText {
    width: 100%;
    text-align: center;
  }

  .right {
    gap: 2rem;
    margin-top: 5rem;
    background-color: var(--white);
    border: none;
  }

  .box {
    flex-direction: column;
    background-color: var(--tan);
    border-radius: 10px;
    border: 1px solid var(--border);
    border-radius: 10px;
  }

  .card {
  }

  .boxLeft {
    margin-left: 0rem;
  }
}
