.container {
  background-color: var(--black);
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  gap: 7rem;
}

.left,
.right {
  flex: 1;
  width: 100%;
}

.left {
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
}

.left::after {
  position: absolute;
  content: "";
  top: 250px;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: var(--green);
  border-radius: 10px;
  border-top-right-radius: 200px;
  z-index: -1;
  filter: blur(10rem);
}

.heading {
  color: var(--tan);
  border-bottom: 1px solid var(--border3);
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  font-size: 7rem;
  line-height: 100%;
  text-transform: uppercase;
  font-family: var(--chakraPetch);
  letter-spacing: -2px;

}

.topText {
  color: var(--tan);
  font-weight: 500;
  width: 80%;
  margin-top: 3rem;
  font-size: 1.6rem;
}

.rtContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.right {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 2rem;
}

.box {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
  background-color: var(--black2);
  border-radius: 10px;
}

.number {
  padding: 1rem;
  font-size: 2rem;
  color: var(--black);
  display: block;
  line-height: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green);
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.boxRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
}

.processName {
  color: var(--tan);
  font-size: 2.1rem;
}

.task {
  color: var(--tan);
  opacity: 0.7;
  font-weight: 500;
}

@media screen and (max-width: 968px) {
  .content {
    flex-direction: column;
    gap: 3rem;
  }

  .topText,
  .heading {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }

  .left {
    position: relative;
    align-self: normal;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .left::after {
    top: -250px;
    left: 40%;
    width: 200px;
    height: 200px;
  }

  .rtContainer {
    margin-top: 3rem;
    margin-bottom: -8rem;
  }
}

@media screen and (max-width: 568px) {
  .topText {
    width: 100%;
    text-align: center;
    margin-bottom: 0rem;
  }

  .right {
    gap: 2rem;
  }

  .box {
    flex-direction: column;

    border-radius: 10px;

    border-radius: 10px;
  }
}
