.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rightContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.right {
  background-color: var(--tan);
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
}

.heading {
  margin-bottom: 3rem;
}

.copy {
  font-weight: 500;
  color: var(--text);
}

@media screen and (max-width: 1068px) {
  .content {
    flex-direction: column;
  }

  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .rightContainer {
    grid-template-columns: 1fr;
    margin-top: 3rem;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .heading,
  .title {
    text-align: center;
  }
}
