.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding-top: 10rem;
}

.left,
.right {
  flex: 1;
}

.right {
  background-color: var(--tan);
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
}

.heading {
  margin-bottom: 3rem;
}

.copy {
  font-weight: 500;
  color: var(--text);
}

@media screen and (max-width: 968px) {
  .content {
    flex-direction: column;
  }

  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .heading,
  .title {
    text-align: center;
  }
}
