.container {
  height: 100%;
  border-radius: 10px;
  padding: 1rem;
  background-color: var(--tan);
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}


.imgContainer {
  height: 250px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.img {
  border-radius: 10px;
  border: 1px solid var(--borde2);
  object-fit: cover;
}

.btn {
  position: absolute;
  bottom: 10px;
  left: 15px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 1rem;
  padding: 1rem;
  color: var(--cream);
  height: 100%;
}

.date {
  font-size: 1.3rem;
  color: var(--text2);
}

.title {
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--black);
}

.title:hover {
  text-decoration: underline;
}

.copy {
  color: var(--text3);
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.link {
  font-size: 1.4rem;
  font-family: "SatoshiBold";
  color: var(--accent1b);
  margin-top: 1rem;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: fit-content;
}

.arrow {
  font-size: 2rem;
  transition: all 0.1s ease-in;
}

.link:hover .arrow {
  transform: translateX(5px);
}

@media screen and (max-width: 568px) {
  .dateTimeContainer {
    font-size: 1.6rem;
  }

  .link {
    font-size: 1.8rem;
  }

  .copy {
    font-size: 1.6rem;
  }

  .icon {
    top: 2px;
  }
}
