.container {
  background-color: var(--tan);
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

.left,
.right {
  flex: 1;
  width: 100%;
}

.left {
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
}

.left::after {
  position: absolute;
  content: "";
  top: 250px;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: var(--green);
  border-radius: 10px;
  border-top-right-radius: 200px;
  z-index: -1;
  filter: blur(10rem);
}

.heading {
  border-bottom: 1px solid var(--border2);
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  width: fit-content;
}

.topText {
  font-family: var(--azeretMono);
  color: var(--text);
  font-weight: 500;
  width: 80%;
  margin-top: 3rem;
}

.rtContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.right {
  display: flex;
  flex-direction: column;
}

.card {
  border-left: 1px solid var(--border3);
  padding: 4rem;
  z-index: 999;
}

.box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
}

.boxLeft {
  margin-left: -6.5rem;
}

.boxRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.number {
  padding: 1rem;
  font-size: 2.1rem;
  font-family: var(--acidGroteskBold);
  color: var(--black);
  display: block;
  line-height: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.processName {
  color: var(--black);
  font-size: 2.1rem;
  font-family: var(--acidGroteskBold);
}

.processDescription {
  opacity: 0.7;
  font-family: var(--outfit);
  font-size: 1.4rem;
}

@media screen and (max-width: 968px) {
  .content {
    flex-direction: column;
  }

  .topText,
  .heading {
    width: 100%;
    text-align: center;
  }

  .left {
    position: relative;
    align-self: normal;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .left::after {
    top: -250px;
    left: 40%;
    width: 200px;
    height: 200px;
  }

  .rtContainer {
    margin-top: 3rem;
    margin-bottom: -8rem;
  }
}

@media screen and (max-width: 568px) {
  .topText {
    width: 100%;
    text-align: center;
  }

  .right {
    gap: 2rem;
    margin-top: 5rem;
  }

  .box {
    flex-direction: column;
  }

  .card {
    border: 1px solid var(--border3);
    border-radius: 10px;
  }

  .boxLeft {
    margin-left: 0rem;
  }
}
