:root {
  --green: #C5FF67;
  --gray: #f4f4f6;
  --black: #19191a;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 150%;
  overscroll-behavior: none;
  scroll-behavior: smooth;
  scroll-margin-top: 20px;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  background-color: var(--neutral);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 6rem;
  line-height: 120%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--chakraPetch);
  color: var(--navy);
  letter-spacing: 0.1rem;
}

h2 {
  font-size: 4.8rem;
  text-transform: uppercase;
  line-height: 130%;
}

h3 {
  font-size: 4rem;
  color: var(--text);
  line-height: 120%;
}

h4 {
  font-size: 3.1rem;
}

h5 {
  font-size: 2.5rem;
}

h6 {
  font-size: 2rem;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

p,
input,
textarea {
  font-weight: 400;
  hyphens: auto;
  font-size: 1.6rem;
  line-height: 150%;
}

input:focus {
  outline: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--secondary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

::selection {
  background: var(--secondary);
}
::-moz-selection {
  background: var(--secondary);
}

@media screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }

  p {
    font-size: 113.7%;
  }
}

@media screen and (max-width: 568px) {
  html {
    font-size: 50%;
  }

  p,
  label {
    font-size: 125%;
  }
}

.toastFont {
  font-family: var(--roboto);
}

/* Only use in production */
/* @media screen and (max-width: 480px) {
  h1,
  h2 {
    letter-spacing: -0.1rem;
  }
} */
