.noise {
  /* background-color: var(--tan); */
  position: relative;
  /* overflow: hidden; */
  width: 100%;
}

.noise::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: 0.03;
  pointer-events: none;
  background: url(../../public//images/noise.gif);
}