.container {
  background-color: var(--black);
}

.heading {
  font-size: 7rem;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--tan);
  font-size: 8.5rem;
  font-family: var(--staatliches);

}

.copy {
  margin-top: 3rem;
  width: 70%;
  color: var(--tan);
  font-weight: 500;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--white);
  border-radius: 10px;
  padding: 2rem;
  height: 100%;
}

.icon {
  margin-top: 1.5rem;
}

.name {
  display: block;
  font-size: 2.6rem;
  color: var(--text2);
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}

.description {
  color: var(--text);
  margin-top: 2rem;
}

@media screen and (max-width: 1268px) {
  .heading,
  .copy {
    text-align: center;
  }

  .copy {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .bottom {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1068px) {
  .copy {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .copy {
    width: 100%;
  }

  .bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 568px) {
  .heading {
    font-size: 6rem;
  }

  .copy {
    text-align: left;
  }
}
