.container {
  padding: 2rem 0rem;
}

@media screen and (max-width: 870px) {
  .container {
    padding: 2rem 3rem;
  }
}

@media screen and (max-width: 568px) {
  .container {
    padding: 3rem 2rem;
  }
}
