.container {
  background-color: var(--tan);
  padding-top: 3rem;
    position: relative;
  overflow: hidden;
  width: 100%;
}

.container::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: 0.03;
  pointer-events: none;
  background: url(../../../public//images/noise.gif);

}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  text-align: center;
}

.highlight {
  position: relative;
  z-index: 1;
  white-space: nowrap;
  line-height: 115%;
}

.highlight::after {
  position: absolute;
  content: "";
  bottom: 7px;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: var(--green);
  z-index: -1;
}

.copy {
  margin: 3rem 00rem;
  color: var(--text2);
  width: 70%;
  text-align: center;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 350px;
  font-size: 0;
  background-color: var(--green);
  border: 1px solid var(--black);
  border-radius: 10px;
}

.img {
  position: relative;
  object-fit: cover;
  font-size: 0;
  padding: 0.8rem;
  border-radius: 15px;
}

@media screen and (max-width: 768px) {
  .copy {
    width: 100%;
  }
}
