.container {
  background-color: var(--tan);
  padding-top: 3rem;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.container::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: 0.03;
  pointer-events: none;
  background: url(../../../public//images/noise.gif);
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  text-align: center;
}

.highlight {
  position: relative;
  z-index: 1;
  white-space: nowrap;
  line-height: 115%;
}

.highlight::after {
  position: absolute;
  content: "";
  bottom: 7px;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: var(--green);
  z-index: -1;
}

.copy {
  margin: 3rem 00rem;
  color: var(--text2);
  width: 70%;
  text-align: center;
}

.bottom {
  margin-top: 3rem;
  z-index: 1;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 450px;
  font-size: 0;
  background-color: var(--green);
  border: 1px solid var(--border3);
  border-radius: 10px;
}

.img {
  position: relative;
  object-fit: cover;
  font-size: 0;
  padding: 0.8rem;
  border-radius: 15px;
}

.infoContainer {
  position: relative;
  margin-top: 3rem;
  margin-left: 10rem;
  margin-right: 10rem;
  z-index: 2;
  background-color: var(--tan);
  border: 1px solid var(--border3);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: var(--shadow);
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 5rem;
  border: 1px solid var(--border3);
  border-radius: 10px;
}

.infoLeft,
.infoRight {
  flex: 1;
  width: 100%;
}

.copyii {
  margin-top: 3rem;
  color: var(--text2);
}

.logoImageContainer {
  position: relative;
  width: 100%;
  height: 200px;
}

.logo {
  object-fit: contain;
  opacity: 0.7;
}

@media screen and (max-width: 1100px) {
  .box {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 968px) {
  .copy {
    width: 100%;
  }

.infoContainer {
  margin-top: 2rem;
  margin-left: 0rem;
  margin-right: 0rem;
}

  .box {
    padding: 3rem;
  }
}

@media screen and (max-width: 568px) {
  .top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .heading,
  .copy {
    width: 100%;
    text-align: left;
  }

  .infoLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .infoLeft h2 {
    text-align: center;
  }
}
