.container {
  background-color: var(--tan);
  border-top: 2px solid var(--border);
}

.layoutWrapper {
  z-index: 1000;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.contentPadding {
  padding: 5rem;
}

.content {
  display: flex;
  flex-direction: column;
}

.topTop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.leftBorder,
.leftBorder2,
.leftBorder3 {
  background-color: var(--green);
  padding: 0.8rem;
  border: 1px solid var(--border3);
  border-radius: 10px;
}

.leftBorder3 {
  display: none;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--tan);
  border: 1px solid var(--border3);
  border-radius: 8px;
  padding: 2rem;
  height: fit-content;
  height: 100%;
}

.logo {
  z-index: 998;
  color: var(--black);
  font-size: 1.8rem;
  font-weight: 700;
  opacity: 0.7;
}

.desc {
  color: var(--black);
  margin-top: 2rem;
  font-size: 1.4rem;
  opacity: 0.7;
}

.copy {
  color: var(--black);
  opacity: 0.7;
  hyphens: auto;
  font-size: 1.3rem;
  margin-top: 2rem;
  height: fit-content;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2;
  height: 100%;
  background-color: var(--tan);
  border: 1px solid var(--border3);
  border-radius: 8px;
  padding: 2rem;
}

.middleDesktop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 9rem;
  grid-row-gap: 5rem;
  grid-auto-flow: dense;
  height: 100%;
}

.middleMobile {
  display: none;
}

.sectionContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  display: flex;
  flex-direction: column;
}

.heading {
  color: var(--black);
  opacity: 0.7;
  font-weight: 900;
  font-size: 1.4rem;
  text-transform: uppercase;
  user-select: none;
}

.footerItemContainer {
  display: flex;
  flex-direction: column;
}

.footerItem {
  color: var(--black);
  opacity: 0.7;
  font-size: 1.4rem;
  cursor: pointer;
  user-select: none;
}

.footerItem:hover {
  text-decoration: underline;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.answer.show {
  height: auto;
  max-height: 9999px;
  transition: all 2s ease-in-out;
}

.bottom,
.bottomDesktop {
  border-top: 1px solid rgba(214, 214, 214, 0.5);
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom {
  display: none;
}

.bottomRight .copy {
  padding-left: 2rem;
  color: var(--black);
}

@media screen and (max-width: 1068px) {
  .top {
    flex-direction: column;
    align-items: flex-start;
  }

  .topTop {
    grid-template-columns: 1fr;
    grid-gap: 5rem;
  }

  .desc {
    margin-top: 1rem;
    width: 60%;
  }
}

@media screen and (max-width: 870px) {
  .contentPadding {
    padding: 3rem;
    padding-top: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .input {
    width: 100%;
  }

  .middleDesktop {
    grid-template-columns: repeat(3, 1fr);
  }

  .sectionContainer {
    padding-left: 0;
  }
}

@media screen and (max-width: 568px) {
  .layoutWrapper {
    padding-right: 5px;
    padding-left: 5px;
  }

  .contentPadding {
    padding: 3rem 2rem;
  }

  .topTop {
    gap: 0rem;
  }

  .logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }

  .desc {
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }

  .desc,
  .footerItem,
  .heading {
    font-size: 1.8rem;
  }

  .right {
    border: none;
  }

  .middleDesktop {
    display: none;
  }

  .leftBorder2 {
    display: none;
  }

  .leftBorder3 {
    display: block;
    margin-top: 3rem;
  }

  .middleMobile {
    display: block;
    height: 100%;
    background-color: var(--tan);
    border: 1px solid var(--border);
    border-radius: 8px;
    padding: 2rem;
  }

  .headingContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: none;
  }

  .arrow {
    color: var(--black);
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
  }

  .arrowFlip {
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
  }

  .sectionContainer {
    padding: 2rem 0rem;
    border-bottom: 1px solid rgba(214, 214, 214, 0.5);
  }

  .heading {
    font-size: 1.6rem;
    margin-bottom: 0rem;
  }

  .footerItem {
    margin-top: 1rem;
    font-size: 1.8rem;
  }

  .bottom {
    border-top: none;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    margin-top: 2rem;
  }

  .bottomDesktop {
    display: none;
  }

  .bottomLeft {
    order: 2;
  }

  .copy {
    margin-top: 0rem;
    text-align: center;
  }
}
