.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5rem;
}

.heading {
  line-height: 100%;
  text-transform: uppercase;
  color: var(--black2);
  margin-bottom: 2rem;
  font-size: 8.5rem;
  font-family: var(--staatliches);
}

.copy {
  font-weight: 500;
  color: var(--text2);
}

.left,
.right {
  flex: 1;
}

.left {
  background-color: var(--tan);
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 250px;
  border-radius: 10px;
  background-color: var(--green);
  border-radius: 10px;
  border: 1px solid var(--border3);
}

.img {
  object-fit: cover;
  border-radius: 17px;
  padding: 0.8rem;
}

.imgContainer:nth-child(2),
.imgContainer:nth-child(4) {
  position: relative;
  top: 50px;
}

@media screen and (max-width: 1068px) {
  .heading {
    width: 100%;
  }
  .content {
    flex-direction: column;
  }

  .right {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .heading {
    text-align: center;
  }

  .left::after {
    top: 450px;
    left: 0;
  }
}

@media screen and (max-width: 568px) {
  .heading {
    font-size: 6rem;
  }
}
