.top {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.topLeft {
  font-size: 0;
}

.img400 {
  width: 275px;
  height: 275px;
  object-fit: contain;
  border-radius: 10px;
  /* box-shadow: var(--shadow); */
}

.topRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.square1 {
  width: 90px;
  height: 100px;
  background-color: var(--green);
  border-radius: 10px;
  border-top-right-radius: 100px;
  box-shadow: var(--shadow);
}

.bottom {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.square2 {
  width: 100px;
  height: 100px;
  background-color: var(--black);
  border-radius: 10px;
  border-bottom-left-radius: 100px;
  box-shadow: var(--shadow);
}

.img100 {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.img200 {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 10px;

  box-shadow: var(--shadow);
}

.img275 {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

@media screen and (max-width: 1000px) {
  .img400 {
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 950px) {
  .img400 {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .img400 {
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 668px) {
  .img400 {
    width: 300px;
    height: 300px;
  }

  .img100,
  .square1,
  .square2 {
    width: 60px;
    height: 60px;
  }

  .img200 {
    width: 150px;
    height: 150px;
  }

  .img275 {
    width: 175px;
    height: 175px;
  }
}

@media screen and (max-width: 568px) {
  .img400 {
    width: 280px;
    height: 280px;
  }
}

@media screen and (max-width: 480px) {
  .img400 {
    width: 200px;
    height: 200px;
  }

  .img100,
  .square1,
  .square2 {
    width: 60px;
    height: 60px;
  }

  .img200 {
    width: 150px;
    height: 150px;
  }

  .img275 {
    width: 175px;
    height: 175px;
  }
}

@media screen and (max-width: 400px) {
  .img400 {
    width: 150px;
    height: 150px;
  }

  .img100,
  .square1,
  .square2 {
    width: 50px;
    height: 50px;
  }

  .img200 {
    width: 100px;
    height: 100px;
  }

  .img275 {
    width: 140px;
    height: 140px;
  }
}
