.preNav {
  background-color: var(--green);
  padding: 1rem;
  font-weight: bold;
  font-size: 1.4rem;
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.span {
  font-weight: 500;
  text-decoration: underline;
  margin-left: 1rem;
}