.top {
  margin-bottom: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.heading {
  text-align: center;
}

.copy {
  text-align: center;
  width: 60%;
  color: var(--text);
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 668px) {
  .copy {
    width: 100%;
  }
}
